.welcome-page {
    -fx-background-color: linear-gradient(to bottom, black, red);
    -fx-spacing: 20;
    -fx-alignment: center;
    -fx-padding: 50;
}

.welcome-label {
    -fx-font-size: 24px;
    -fx-text-fill: white;
}

.continue-button {
    -fx-font-size: 18px;
    -fx-padding: 10 20;
}

/* Visualizer */
.visualizer {
    -fx-spacing: 10;
    -fx-padding: 20;
}

.status {
    -fx-font-size: 18px;
    -fx-text-fill: darkblue;
}

.header {
    -fx-spacing: 10;
    -fx-padding: 10 0;
}

.enter-text {
    -fx-font-size: 18px;
    -fx-text-fill: black;
}